<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nightybird"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" /> 
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        
        <activity
            android:name="com.example.nightybird.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- <category android:name="android.intent.category.LAUNCHER" />
                -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.nightybird.SplashActivity"
            android:label="@string/title_activity_splash" >
            <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            -->
            <!-- android:theme="@style/Theme.Transparent">
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.example.nightybird.WakeupActivity"
            android:label="@string/title_activity_wakeup" >
        </activity>
        <activity
            android:name="com.example.nightybird.SleepActivity"
            android:label="@string/title_activity_sleep" >
        </activity>
        <activity
            android:name="com.example.nightybird.StayupActivity"
            android:label="@string/title_activity_stayup" >
        </activity>
        <activity
            android:name="com.example.nightybird.StayupSettingActivity"
            android:label="@string/title_activity_stayup_setting" >
        </activity>
        <activity
            android:name="com.example.nightybird.EditHistoryActivity"
            android:label="@string/title_activity_edit_history" >
        </activity>
        <activity
            android:name="com.example.nightybird.FriendsActivity"
            android:label="@string/title_activity_friends" >
        </activity>
        <activity
            android:name="com.example.nightybird.HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name="com.example.nightybird.ReportActivity"
            android:label="@string/title_activity_report" >
        </activity>
        <activity
            android:name="com.example.nightybird.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name="com.example.nightybird.Sleep"
            android:label="@string/title_activity_sleep" >
        </activity>
        <!--
        <activity
            android:name="com.example.nightybird.SettingActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        -->
        <activity
            android:name="com.example.nightybird.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>

        <provider
            android:name="dblayout.SleepDataProvider"
            android:authorities="com.example.provider.SleepData" >
        </provider>
        
    </application>

</manifest>
